[submodule "dotfiles"]
	path = mislav
	url = git@github.com:mislav/dotfiles.git
[submodule "hammerspoon/Spoons/ControlEscape.spoon"]
	path = hammerspoon/Spoons/ControlEscape.spoon
	url = git@github.com:bbasata/ControlEscape.spoon
[submodule "vim/pack/default/start/vim-fugitive"]
	path = vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/default/start/ctrlp.vim"]
	path = vim/pack/default/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/default/start/ack.vim"]
	path = vim/pack/default/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/pack/default/start/ListToggle"]
	path = vim/pack/default/start/ListToggle
	url = https://github.com/Valloric/ListToggle
