/.CFUserTextEncoding
/.DS_Store
/.Trash
/.bash_aliases
/.bash_history
/.bash_profile
/.bashrc
/.cups
/.dropbox
/.filezilla
/.gdb_history
/.gem
/.gitconfig
/.gradle
/.heroku
/.irb-history
/.lesshst
/.mysql_history
/.npm
/.psql_history
/.putty
/.rspec
/.rvm
/.sqlite_history
/.ssh
/.subversion
/.viminfo
/Books
/Desktop
/Developer
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public
/Sites
/bin
/code
/perl5
/script
/software
/tmp
/tools
