[submodule "vim/pack/default/start/vim-fugitive"]
	path = vim/pack/default/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/default/start/ack.vim"]
	path = vim/pack/default/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule "vim/pack/default/start/ListToggle"]
	path = vim/pack/default/start/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule "vim/pack/default/start/vim-dispatch"]
	path = vim/pack/default/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/pack/default/opt/molokai"]
	path = vim/pack/default/opt/molokai
	url = https://github.com/tomasr/molokai
[submodule "vim/pack/default/start/vim-eunuch"]
	path = vim/pack/default/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/pack/default/start/vim-repeat"]
	path = vim/pack/default/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/default/start/taboo.vim"]
	path = vim/pack/default/start/taboo.vim
	url = https://github.com/gcmt/taboo.vim
[submodule "vim/pack/default/start/vim-rails"]
	path = vim/pack/default/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "vim/pack/default/start/vim-vroom"]
	path = vim/pack/default/start/vim-vroom
	url = https://github.com/skalnik/vim-vroom
[submodule "vim/pack/default/start/Brewfile.vim"]
	path = vim/pack/default/start/Brewfile.vim
	url = https://github.com/bfontaine/Brewfile.vim
[submodule "vim/pack/default/start/vim-gitgutter"]
	path = vim/pack/default/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/default/start/supertab"]
	path = vim/pack/default/start/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/pack/default/start/ruby-matchit"]
	path = vim/pack/default/start/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit
[submodule "vim/pack/default/start/vim-endwise"]
	path = vim/pack/default/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule "vim/pack/default/start/vim-commentary"]
	path = vim/pack/default/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/default/start/vim-textobj-user"]
	path = vim/pack/default/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "vim/pack/default/start/vim-textobj-rubyblock"]
	path = vim/pack/default/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock
[submodule "vim/pack/default/start/vim-vinegar"]
	path = vim/pack/default/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "mislav"]
	path = mislav
	url = https://github.com/mislav/dotfiles
[submodule "hammerspoon/Spoons/ControlEscape.spoon"]
	path = hammerspoon/Spoons/ControlEscape.spoon
	url = https://github.com/bbasata/ControlEscape.spoon
[submodule "vim/pack/default/start/vim-go"]
	path = vim/pack/default/start/vim-go
	url = https://github.com/bbasata/vim-go
[submodule "vim/pack/default/opt/distinguished"]
	path = vim/pack/default/opt/distinguished
	url = https://github.com/Lokaltog/vim-distinguished.git
[submodule "vim/pack/default/start/copilot.vim"]
	path = vim/pack/default/start/copilot.vim
	url = https://github.com/github/copilot.vim.git
[submodule "vim/pack/default/start/vim-lsp"]
	path = vim/pack/default/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "vim/pack/default/start/asyncomplete.vim"]
	path = vim/pack/default/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim.git
[submodule "vim/pack/default/start/asyncomplete-lsp.vim"]
	path = vim/pack/default/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim.git
[submodule "vim/pack/default/start/tagbar"]
	path = vim/pack/default/start/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "vim/pack/default/start/ale"]
	path = vim/pack/default/start/ale
	url = https://github.com/dense-analysis/ale/
[submodule "vim/pack/default/start/vim-lsp-ale"]
	path = vim/pack/default/start/vim-lsp-ale
	url = https://github.com/rhysd/vim-lsp-ale
[submodule "vim/pack/default/start/fzf.vim"]
	path = vim/pack/default/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "vim/pack/default/start/fzf"]
	path = vim/pack/default/start/fzf
	url = git@github.com:junegunn/fzf.git
